@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eaebef;
  font-family: "Poppins", sans-serif;
}

.nav {
  width: 300px;
}

.nav__link {
  color: #303440;
  display: block;
  padding: 15px 0;
  text-decoration: none;
}

.media {
  margin-top: 480px;
  width: 100px;
  height: 100px;
}
.nav__link--inside {
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}

.nav__link--inside:hover {
  background: #f6f8fa;
}

.list {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0 16px 16px 0;
  background: #fff;
  align-items: flex-end;
  z-index: 100;
}

.lis__img {
  margin-top: 30px;
}

.list__item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__item--click {
  cursor: pointer;
}

.list__button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .list__arrow {
  transform: rotate(90deg);
}

.list__arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.list__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height 0.4s;
  height: 0;
}

.btn__header-register {
  padding: 12px 43px;
  border: none;
  background: #000;
  color: white;
  font-weight: 500;
  font-size: 11px;
  cursor: pointer;
  transition: background, color, 300ms;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}

.cover {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  position: absolute;
  width: 60%px;
  height: 600px;
  background: #eee;
  top: 18.3%;
  left: 31%;
  margin: -110px 0 0 -100px;
  padding: 20px;
  border-radius: 13px;
  box-sizing: border-box;
  z-index: 100;
}

.text__information-cover {
  width: 60%;
}

.text__information-cover h1 {
  font-size: 50px;
  margin-left: 40px;
}

.text__information-cover p {
  font-size: 18px;
  margin-top: 40px;
}

.buttons__cover {
  display: flex;
  margin-top: 40px;
}

.btn__readMore-cover {
  padding: 14px 40px;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 300ms;
}

.btn__readMore-cover:hover {
  background: #e8e8e8;
}

.media__cover {
  width: 50%;
  margin-left: 70px;
}

.media__cover img {
  width: 100%;
  margin-top: 80px;
}

/*BANNER*/

.container__banner {
  margin-top: 80px;
}

.banner {
  height: 250px;
  display: flex;
  align-items: center;
  background: #121214;
  position: relative;
}

.banner__icon-heart {
  width: 35%;
  height: 100%;
}

#icon_heart {
  width: 400px;
  margin-top: -20px;
  position: relative;
  filter: drop-shadow(-40px 0px 30px rgba(0, 0, 0, 0.5));
}

.banner__text {
  width: 60%;
  position: relative;
  padding: 40px;
}

.banner__text h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  font-family: "Racing Sans One", cursive;
}

.banner__text p {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 300ms;
  font-size: 17px;
}

.banner__text p:hover {
  color: #69f1a1;
}

.banner__icon-fire {
  height: 100%;
  position: absolute;
  right: 10px;
  overflow: hidden;
}

#icon_fire {
  width: 300px;
  position: relative;
  margin-top: -100px;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .container__header,
  main {
    padding: 20px;
  }

  #icon_menu {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  .header__register {
    display: none;
  }

  .menu {
    height: 0px;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
    transition: all 300ms;
  }

  .menu nav ul {
    padding: 20px 0px;
    flex-direction: column;
    background: #fff;
  }

  .menu nav ul li {
    padding: 10px 40px;
  }

  .mostrar_menu {
    /*CLASE MANIPULADA POR JS*/
    height: 235px;
  }

  .text__information-cover h1 {
    font-size: 40px;
  }

  .text__information-cover p {
    font-size: 16px;
  }

  .banner__text h2 {
    font-size: 22px;
  }

  #icon_heart {
    left: -60px;
  }

  .banner__icon-fire {
    right: -20px;
  }
}

@media (max-width: 920px) {
  .text__information-cover {
    width: 100%;
  }

  .media__cover {
    display: none;
  }

  .banner {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  #icon_fire {
    display: none;
  }

  #icon_heart {
    left: 0;
  }

  .banner__text {
    width: 100%;
    margin-top: -100px;
  }
}

.questions {
  text-align: center;
  font-size: larger;
}

.questions__container {
  display: grid;
  gap: 2em;
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions__padding {
  padding: 0;
  transition: padding 0.3s;
  border: 1px solid #5454d4;
  border-radius: 6px;
}

.questions__padding--add {
  padding-bottom: 30px;
}

.questions__answer {
  padding: 0 30px 0;
  overflow: hidden;
}

.questions__title {
  text-align: left;
  display: flex;
  font-size: 20px;
  padding: 30px 0 30px;
  cursor: pointer;
  color: var(--color-title);
  justify-content: space-between;
}

.questions__arrow {
  border-radius: 50%;
  background: #000000;
  color: #00b2ff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin-left: 10px;
  transition: transform 0.3s;
}

.questions__arrow--rotate {
  transform: rotate(180deg);
}

.questions__show {
  text-align: left;
  height: 0;
  transition: height 0.3s;
}

.questions__img {
  display: block;
}

.questions__copy {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.cta {
  display: inline-block;
  background-color: #2091f9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}

.subtitle {
  color: var(--color-title);
  font-size: 2rem;
  margin-top: 60px;
  margin-bottom: 25px;
}

html {
  scroll-behavior: smooth;
}

.pie-pagina {
  width: 114%;
  background-color: #000000;
  margin-left: -8%;
  font-family: "Balsamiq Sans", cursive;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
  font-family: "Balsamiq Sans", cursive;
  text-align: left;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
  font-family: "Balsamiq Sans", cursive;
  font-size: 17px;
}
.pie-pagina .grupo-2 {
  background-color: #06111c;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  font-family: "Balsamiq Sans", cursive;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
  font-family: "Balsamiq Sans", cursive;
}

.bandera {
  width: 30px;
  height: 30px;
}

.bander {
  width: 70px;
  height: 70px;
}

.gro {
  width: 89px;
  margin-left: 32%;
  margin-top: 25px;
}

.cove {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.text__information-cover {
  width: 50%;
}

.text__information-cove {
  width: 50%;
}

.text__information-cove h1 {
  font-size: 50px;
}

.text__information-cover h1 {
  font-size: 50px;
  margin-left: 65%;
  width: 100%;
}

.text__information-cover p {
  font-size: 21px;
  margin-top: 40px;
  margin-left: 40px;
}

.buttons__cove {
  display: flex;
  margin-top: 40px;
}

.btn__readMore-cover {
  padding: 14px 40px;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 300ms;
}

.btn__readMore-cover:hover {
  background: #e8e8e8;
}

.media__cover img {
  margin-top: 160px;
  width: 76%;
  margin-left: 100px;
}

/* desde aquí */

#servicios {
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
  font-family: "Balsamiq Sans", cursive;
}

#servicios .titulo-seccion {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
  font-family: "Balsamiq Sans", cursive;
}

#servicios .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 30px auto;
}

#servicios .fila .servicio {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
}

#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}

button {
  display: block;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  margin: 1rem 0;
  font-size: 0.8rem;
  margin-left: 15%;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #1a400e, #1a400e, #000000);
  cursor: pointer;
  color: #fff;
  font-family: "Balsamiq Sans", cursive;
  background-size: 200%;
  text-transform: uppercase;
  transition: 0.5s;
}

button:hover {
  background-position: right;
}

.contenedor-skills {
  background: linear-gradient(#000000cc, rgba(0, 0, 0, 0.8)),
    url("/images/pexels-tomas-andreopoulos-797900.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  background-position: center center;
  padding: 100px 0;
  text-align: center;
  font-family: "Balsamiq Sans", cursive;
}

.contenedor-skills h3 {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #240b34;
  text-decoration-thickness: 5px;
  margin-bottom: 25px;
  font-family: "Balsamiq Sans", cursive;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.contenedor-skills .skill .barra {
  background-color: #000000;
  width: 100%;
  height: 6px;
  margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: #fff;
  width: 95%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}

@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

.contenedor-skills button {
  background-image: linear-gradient(to right, #240b34, #240b34, #000000);
}

#contacto .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #240b34;
  text-decoration-thickness: 5px;
  margin-bottom: 25px;
}

#contacto .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 15px !important;
  font-family: "Balsamiq Sans", cursive;
}

#contacto .btn-enviar:hover {
  background-color: #8d2aac;
  color: #fff;
}

#contacto .contenedor-form .input-full {
  width: 80%;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #000000;
}

.titulo-seccione {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
  font-family: "Balsamiq Sans", cursive;
  margin-top: -120px;
}

.server {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
  font-family: "Balsamiq Sans", cursive;
  margin-top: 80px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin-top: -40px;
}

.card {
  background-color: var(--white-text);
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 1.5rem;
  overflow: hidden;
  width: 33rem;
  height: 25rem;
}

.card h6 {
  opacity: 0.6;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.card h2 {
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  color: var(black-text);
}

.left-column {
  color: var(--white-text);
  padding: 2rem;
  max-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-column h2 {
  color: var(--white-text);
}

.left-column i {
  font-size: 5rem;
}

.right-column {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.right-column p {
  font-size: 0.9rem;
  color: var(--black-text);
}

.button {
  border-radius: 3rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: var(--white-text);
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  letter-spacing: 0.1rem;
  align-self: flex-end;
  font-family: "Balsamiq Sans", cursive;
}

/*media queries*/

@media (max-width: 1030px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

.background1-left-column {
  background: linear-gradient(180deg, #6edcc4, #1aab8b);
  font-family: "Balsamiq Sans", cursive;
}

.background2-left-column {
  background: linear-gradient(180deg, #dc6e88, #ab1a4f);
  font-family: "Balsamiq Sans", cursive;
}

.lole {
  width: 90px;
  height: 90px;
}

/* sección campo de calor */

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}

.tools-board {
  width: 210px;
  padding: 15px 22px 0;
  background: #fff;
}
.tools-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options {
  display: flex;
  justify-content: space-between;
}
.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1) {
  background-color: rgb(93, 215, 89);
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #d4ad00;
}
.colors .option:nth-child(5) {
  background-color: #f7ec4a;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.option #color-picker {
  opacity: 0;
  cursor: pointer;
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.buttons .save-img {
  background: #4a98f7;
  border: 1px solid #4a98f7;
  font-size: 0.7rem;
}
.drawing-board {
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas {
  width: 900px;
  height: 525px;
}
